.hrStyle{

}
.shop_name{
    margin-top: 50px;
    text-align: center;
    color: #6F8CFD;
}
.list_card{
    width: 80%;
    height: 350px;
    margin-left:10%;
    margin-top: 30px;
    margin-bottom: 20px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}
.list_img{
    width: 100%;
}
.list_info{
    position: absolute;
    bottom: 0;
    background-color: #FFF;
    border-radius: 8px;
    height: 50px;
    width: 100%;
}
.list_add{
    position: absolute;
    top: 30%;
    left: 40%;
    font-size: 100px;
    color: #6F8CFD;
    transform: scale(1,1);
    -webkit-transition: all 0.35s ;
    -moz-transition: all 0.35s ;
    transition: all 0.35s;
}
.list_card:hover .list_add{
    transform: scale(1.2,1.2);
}
.list_card h4{
    text-align: center;
    color: #07111b;
    line-height: 30px;
}